@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

:root {
  --text-color: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 90%;
  margin: 3rem auto;
  max-width: 700px;
  padding: 3rem 2rem;
  border-radius: 20px;
  /* padding: 1rem; */
  
}

.header {
  text-align: center;
  font-size: 3.6rem;
  color:  var(--text-color);
  margin-bottom: 2rem;
  
}

.mb-3 {
  margin: 2rem 0;
}

.text-center {
  text-align: center;
  font-weight: bold;

}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }

  .header {
    font-size: 2.5rem;    
  }

}